@use '../../scss/colors' as color;
.actionBtn {
	cursor: pointer;
	width: 100%;
	font-size: 1.8rem;
	border: none;
	background-color: color.$background-secondary;
	border-radius: 0.8rem;
	&:hover {
		background-color: color.$secondary;
		color: color.$font-lighter;
	}
}
