@use '../../scss/colors' as colors;
.content {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	flex-direction: row;
	height: 100dvh;

	aside {
		text-align: left;
	}
	main {
		section {
			padding: 2.5rem;
			h2 {
			}
		}
	}
}
