@use '../../scss/colors' as colors;
.header {
	padding: 1.5rem 2.5rem;
	min-height: 20px;
	background-color: colors.$header-bckg;
	color: colors.$font-lighter;
	&.darkblue {
		background-color: colors.$header-bckg-darker;
	}
}
