.login {
	width: 35rem;
	background-color: #1e1e1e;
	padding: 2rem 2.9rem;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	h2 {
		background-color: #1e1e1e;
		position: relative;
		display: inline-block;
		padding: 0 2rem;
		margin: 0;
		bottom: -1.1rem;
		font-size: 1.8rem;
	}

	form {
		display: flex;
		flex-direction: column;
		border: 1px solid #403f3f;
		padding: 3rem 3rem 2rem 3rem;
		margin-bottom: 2.5rem;
	}
	label {
		margin-bottom: -2rem;
		color: #000;
	}

	input {
		margin: 1rem 0;
		padding: 1.5rem 2rem;
		border-radius: 0.5rem;
		border: none;
		font-weight: 600;
		font-size: 1.6rem;
	}

	.button {
		margin: 1rem 0;
		padding: 1.5rem;
		background-color: #a30000;
		border-radius: 0.5rem;
		border: none;
		color: #fff;
		font-weight: 600;
		font-size: 1.6rem;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #730000;
		}
	}
	.link {
		color: #a30000;
		cursor: pointer;
		font-weight: 500;
		&:hover {
			color: #be4646;
		}
	}
}
