@use '../../scss/colors' as color;
.errBox {
	color: color.$error-font;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li {
		text-align: center;
		font-style: italic;
		margin: 0;
		padding: 0;
	}
}
