@use '../../scss/colors' as colors;
.item {
	border-bottom: 1px solid colors.$border-dark;

	&:first-child {
		border-top: 1px solid colors.$border-dark;
	}

	&.active {
		a {
			border-left: 5px solid colors.$active-border;
		}
	}

	a {
		color: colors.$font-light;
		cursor: pointer;
		display: block;
		padding: 2rem 2.5rem;
		text-align: center;
		border-left: 5px solid transparent;
		transition: 0.3s background-color;
		&:hover {
			background-color: colors.$hover-menu-bckg;
			border-left: 5px solid colors.$hover-border;
		}
		.icon {
			font-size: 2.8rem;
			margin-bottom: 1rem;
		}
		.text {
			font-size: 1.8rem;
			font-weight: 300;
		}
	}
}
